<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Directory listing for /Details/components/</title>
</head>
<body>
<h1>Directory listing for /Details/components/</h1>
<hr>
<ul>
<li><a href="CardDisplay.tsx">CardDisplay.tsx</a></li>
<li><a href="CardDisplayCon.tsx">CardDisplayCon.tsx</a></li>
<li><a href="ProfileCardDisplay.tsx">ProfileCardDisplay.tsx</a></li>
<li><a href="ProfileCon.tsx">ProfileCon.tsx</a></li>
<li><a href="ProfileEdit.tsx">ProfileEdit.tsx</a></li>
<li><a href="Tabs.tsx">Tabs.tsx</a></li>
<li><a href="TeamMember.tsx">TeamMember.tsx</a></li>
</ul>
<hr>
</body>
</html>
